*{
    margin: 0;
    padding: 0;
}

header{
    font-family: c;
    background-color: #aaaaaa;
    box-shadow: 2px 0px 5px  rgba(0, 0, 0, 0.50);
}

.logo{
    padding: 15px;
    max-height: 300px;
    max-width: 200px;
}
.logo > h1{
    font-family: Verdana, sans-serif;
}
.nav-superior{
    font-family: Verdana, sans-serif;
    background-color: #dddddd;
    overflow: auto;
}
.nav-superior ul{
    list-style: none;
}

.nav-superior ul li a:hover, .dropdow .button:hover{
    background-color: #aaaaaa;
}

.nav-superior ul  li a, .dropdow .button{
    text-decoration:none;   
    color: #000000;
    position: relative;
}

.drop-conteudo ul li a{
    display: block;
    padding: 5px 20px;
    
}
.dropdow{
    float: left;
}
.dropdow .button{
    float: none;
    padding: 15px;
}
.drop-conteudo{
    font-family: Verdana, sans-serif;
    position: absolute;
    background-color: #aaaaaa;
    overflow: hidden;
    max-height: 0;
    width: 150px;
    transition: max-height 300ms;

}
.dropdow:hover .drop-conteudo{
    overflow: visible;
    max-height: 1000px;
}

.nav-lateral{
    font-family: Verdana, sans-serif;
    float: left;
    background:linear-gradient(#ccc, #fff) ;
    box-shadow: 2px 0px 5px  rgba(0, 0, 0, 0.50);
    position: relative;
    z-index: -10;
    height: 100%;
    width: 100vw;
}

.nav-lateral ul{
    list-style: none;
}
.nav-lateral ul li a{
    padding: 10px;
    padding-left: 20px;
    display: block;
    text-decoration: none;
    color: #000000;
}

.nav-lateral ul li a:hover{
    background-color: #aaaaaa;
}
.nav-lateral h4{
    padding: 10px;
}

.direita{
    float: right;
    text-align: center;
    width: 15vw;
    height: 100vh;
    position: relative;
    z-index: -10;
    box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.50);
}

.direita h4, p{
    font-family: Verdana, sans-serif;
    padding: 10px;
}

.loading{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-bottom: 5px;
    border: 5px solid #000000;
    border-radius: 50%;
    border-bottom: 5px solid #aaaaaa;
    animation: rodar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rodar {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
}
.conteudo{
    width: 55vw;
    float: left;
    padding: 10px;
    font-family: Verdana, sans-serif;
}

.groot{
    float: left;
    padding: 10px;
    position: relative;
    animation: animar 4s infinite alternate;
    animation-timing-function: linear;

}
.groot img{
    height: 100px;
    width: 60px;
}

@keyframes animar {
    from {left: 0;
        transform: rotate(0deg);}
    to {left: 100%;
        transform: rotate(360deg)}
}

@media screen and (min-width: 600px) {
    .nav-lateral{
        float: left;
        width: 15vw;
        height: 100vh;
    }
}
