*{
    margin: 0;
    padding: 0;
}
header{
    background: url("gradient_bg.png");
    font-size: 40px;
    padding: 40px;
    font-family: "Century Gothic";
    text-align: center;
}
.navegar {
    overflow: hidden;
    background-color: #333;
    border: 3px inset #44FF00;
}
a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navegar a:hover {
    background-color: #44ff00;
    color: black;
}
h3{
    text-align: center;
    padding: 10px;
}

p{
    text-align: center;
}
.conteudo{
    float:left;
    width: 70%;
    margin: 0 0 0 250px;
    background-color: #000000;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
}

.artigo1{
    margin: 100px;
    padding: 20px;
    color: white;
}
.artigo2{
    margin: 100px;
    color: white;
    border: 0.1vw dashed rgb(255, 0, 0);
    padding: 2px;
    background: #4A4A4A
}

.artigo3{
    color: white;
}
.artigo4{
    margin: 20px;
    color: white;
      
}
form{
    border: 1px solid blanchedalmond;
    background-color: #3C3C3C;
    padding: 20px;
    
}